body{
    background-color: aqua;
}

.images-gal img{
    width:250px;
     margin:40px;
 }
 .col-content h1{
     font-size:7vmin;
     color: rgb(216, 18, 173);
     text-align: center;
 }
  .col-content p{
     padding: 0%;
     margin:15px 20px;
     color: #0314fc;
     font-weight: 600;
 }
 .col-content .ctn{
     margin-left: 150px;
 }
 .footer{
    width:100%;
    min-height:100px;
    padding:20px 80px;
    margin: 0;
    background-color:#0314fc;
    text-align: center;
}
 .footer p{
    color: #fc036b;
    margin:10px auto;
}